/*Exercise 1*/
.table{
  width:100%;
}
.table tr{
    border-bottom: 1px solid #acacac;
    line-height: 35px;
}
.table th{
    border-bottom: 1px solid #acacac;
    line-height: 35px;
}
.table tr:last-child{
  border-bottom: 0px;
}
/*Exercise 2*/
.stat_table{
  border-top:1px solid #acacac;
  border-bottom:1px solid #acacac;
  text-align: center;
  width:35%;
}
.stat_number{
  font-size:35px;
  font-weight: bold;
  padding-top: 20px;
}
.stat_label{
  font-size:12px;
  padding-bottom: 20px;
  color: gray;
}
/*Exercise 3*/

.bar_chart tr{
  height: 25px;
}
.bar_chart th {
  width: 15%;
  text-align:right;
  padding-right: 10px;
  padding-top: 4px;
}
.bar_chart td {
  width: 85%;
}
.bar_chart div {
  background-color: #6699cc;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 20px;
  color: white;
  padding-top: 4px;
  padding-left: 5px;
}
.bar_chart{
  width: 100%;
}
/*Exercise 4*/
.lightbox-container{
  background-color: #999999;
  height: 500px;
}
.lightbox {
  /*Default lightbox to hidden*/
  display: block;

  /*Position and style*/
  position:static;
  width: 80%;
  height: 50%;
  text-align:left;
  padding: 20px;
  margin: auto;
  background: #FFFFFF;
  border-radius: 20px;
}
.button{
  position:static;
  background: red;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  text-align:center;
  font-size: 18px;
  padding-top:8px;
  font-weight: bold;
}
.lightbox:target{
  /*Unhide lightbox*/
  display:block;
  background-color:gray;
}

/*Exercise 5*/
